@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2") format("woff2"), url("../fonts/Inter-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"), url("../fonts/Inter-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2") format("woff2"), url("../fonts/Inter-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/*Обнуление*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  color: black;
}

/*--------------------------------------------*/

body {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background: #F9F9FF;
}

.lock {
  overflow: hidden;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 320px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #F59208;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.btn-free {
  background: #5370B3;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0;
}

.btn-more {
  color: #5370B3;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #5370B3;
  padding: 15px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.header__phone {
  border-radius: 90px;
  padding: 15px 35px;
  margin-top: 30px;
  margin-left: -20px;
  font-weight: 500;
}

.logo {
  width: 67px;
  height: 41px;
}

.menu.active .menu__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.menu__list-wrap {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 310px;
  padding: 40px 0 60px 0;
}

.menu__list li + li {
  margin-top: 16px;
}

.menu__list-link {
  color: white;
  font-weight: 400;
}

.desc {
  display: none !important;
}

.desc-2 {
  display: none !important;
}

.menu__icon {
  width: 25px;
  height: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.menu__icon::before {
  content: "";
  width: 100%;
  height: 16%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__icon::after {
  content: "";
  width: 100%;
  height: 16%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__icon span {
  width: 100%;
  height: 16%;
  position: absolute;
  top: 50%;
  left: 0;
  background: black;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu__icon.active span {
  -webkit-transform: scale(0) translate(0, 0);
      -ms-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0);
}

.menu__icon.active::before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.menu__icon.active::after {
  bottom: 50%;
  -webkit-transform: translate(0, 50%) rotate(-45deg);
      -ms-transform: translate(0, 50%) rotate(-45deg);
          transform: translate(0, 50%) rotate(-45deg);
}

.banner-main {
  padding-bottom: 70px;
  position: relative;
  z-index: 0;
}

.banner-main__body {
  position: relative;
}

.banner-main__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.banner-main__sub-title {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.banner-main__img {
  width: 290px;
  height: 280px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 20px;
}

.banner-main__btn1 {
  display: block;
  border-radius: 90px;
  text-align: center;
  margin-bottom: 15px;
}

.banner-main__btn2 {
  display: block;
  border-radius: 90px;
  text-align: center;
}

.numbers {
  margin-bottom: 70px;
}

.numbers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers__item + .numbers__item {
  margin-top: 25px;
}

.numbers__item-top {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 4px;
  position: relative;
}

.numbers__item-top::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -11px;
  width: 30px;
  height: 30px;
  background: #4C70B4;
  border-radius: 50%;
  z-index: -1;
}

.numbers .red::before {
  content: "";
  background: #FF6480;
}

.numbers .orange::before {
  content: "";
  background: #F59208;
}

.numbers .green::before {
  content: "";
  background: #669246;
}

.numbers__item-bottom {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  max-width: 180px;
}

.product {
  margin-bottom: 47px;
}

.product__title {
  padding-left: 12px;
  margin-bottom: 30px;
}

.product__text {
  text-align: center;
  margin-bottom: 15px;
}

.product__card {
  border: 1px solid #5370B3;
  border-radius: 5px;
  padding: 60px 15px;
  margin-bottom: 45px;
}

.product__img {
  width: 140px;
  height: 66px;
  margin-bottom: 78px;
}

.product__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}

.product__card-text {
  text-align: center;
  margin-bottom: 70px;
}

.product__card-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 30px;
}

.product__more {
  font-weight: 700;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 9px;
}

.blue {
  color: #4C70B4;
}

.pr-blue {
  color: #1950cf;
}

.pr-green {
  color: #009639;
}

.pr-greeny {
  color: #09838D;
}

.pr-orange {
  color: #D45D00;
}

.pr-hide {
  display: none;
}

.gallery__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
  margin-bottom: 20px;
}

.gallery__link {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 9px;
  margin-bottom: 65px;
}

.about {
  margin-bottom: 60px;
}

.about__title {
  padding-left: 20px;
  margin-bottom: 20px;
}

.about__blue {
  display: none;
}

.about__text {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 35px;
}

.about__list {
  margin-bottom: 40px;
}

.about__list-item {
  position: relative;
  padding-left: 38px;
}

.about__list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 20px;
  height: 20px;
  background: #E6E7FA;
  opacity: 0.99;
  border-radius: 50%;
}

.about__list-item + .about__list-item {
  margin-top: 8px;
}

.portfolio {
  padding-top: 65px;
  padding-bottom: 65px;
  background: rgba(230, 231, 250, 0.4274509804);
  position: relative;
  z-index: -1;
  margin-bottom: 60px;
}

.portfolio__title {
  padding-left: 16px;
  margin-bottom: 42px;
}

.portfolio__link {
  width: 100%;
  display: inline-block;
  text-align: center;
  border: 1px solid #5370B3;
  border-radius: 9px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.portfolio__problem-title {
  font-size: 18px;
  line-height: 27px;
  color: #5370B3;
  margin-bottom: 12px;
}

.portfolio__problem-text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
  max-width: 680px;
}

.portfolio-content {
  padding: 43px 12px;
  background: #FFFFFF;
  border: 1px solid #4C70B4;
  border-radius: 30px;
  margin-bottom: 11px;
}

.portfolio-content__title {
  font-size: 22px;
  line-height: 33px;
  color: #5370B3;
  margin-bottom: 12px;
}

.portfolio-content__sub-title {
  font-size: 18px;
  line-height: 27px;
  color: #5370B3;
  margin-bottom: 8px;
  max-width: 230px;
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
    padding: 0 15px;
  }

  .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
  }

  .title::before {
    width: 90px;
    height: 90px;
    left: -15px;
  }

  .btn-more {
    font-size: 18px;
    line-height: 27px;
  }

  .header__body {
    padding: 26px 0 0 0;
  }

  .header__phone {
    margin-top: 0;
    margin-left: 16px;
    padding: 12px 27px;
  }

  .logo {
    width: 73px;
    height: 44px;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 13px;
  }

  .menu__list-wrap {
    position: static;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 0;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li + li {
    margin-top: 0;
    margin-left: 16px;
  }

  .menu__list-link {
    color: #333333;
    font-size: 18px;
    line-height: 27px;
  }

  .mob {
    display: none;
  }

  .desc {
    display: block !important;
  }

  .menu__icon {
    display: none;
  }

  .banner-main {
    margin-bottom: 65px;
  }

  .banner-main__content {
    padding-top: 60px;
  }

  .banner-main__title {
    text-align: left;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 45px;
  }

  .banner-main__sub-title {
    text-align: left;
    font-weight: 300;
    font-size: 65px;
    line-height: 98px;
    margin-bottom: 65px;
  }

  .banner-main__img {
    position: absolute;
    right: 0;
    left: auto;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    width: 507px;
    height: 490px;
    top: 20px;
    z-index: -1;
  }

  .banner-main__btn1 {
    display: inline-block;
    padding: 19px 53px;
    margin-right: 32px;
  }

  .banner-main__btn2 {
    display: inline-block;
    padding: 17px 39px;
  }

  .numbers__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 658px;
    margin: 0 auto;
    padding-left: 70px;
  }

  .numbers__item {
    width: 40%;
    margin-top: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .numbers__item + .numbers__item {
    margin-top: 20px;
  }

  .numbers .item-blue {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .numbers .item-green {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-left: 100px;
  }

  .numbers .item-orange {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 100px;
  }

  .numbers .item-red {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .numbers__item-bottom {
    max-width: 150px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }

  .product {
    margin-bottom: 130px;
  }

  .product__title {
    margin-bottom: 80px;
  }

  .product__text {
    text-align: left;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 45px;
  }

  .product__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product__card {
    width: 350px;
    padding: 40px 22px;
    margin-bottom: 20px;
  }

  .product__img {
    margin-bottom: 40px;
  }

  .product__card-title {
    margin-bottom: 20px;
  }

  .product__card-text {
    margin-bottom: 0;
    min-height: 136px;
  }

  .product__card-link {
    width: 260px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .product__more {
    font-size: 25px;
    margin-top: 25px;
    line-height: 38px;
  }

  .pr-hide {
    display: block;
  }

  .gallery__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .gallery__img {
    width: 48%;
    margin-bottom: 65px;
  }

  .gallery__img + .gallery__img {
    margin-left: 20px;
  }

  .about {
    margin-bottom: 130px;
  }

  .about__title {
    margin-bottom: 80px;
  }

  .about__blue {
    display: block;
    color: #5370B3;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 45px;
  }

  .about__text {
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    max-width: 560px;
    margin-bottom: 50px;
  }

  .about__list {
    margin-bottom: 70px;
  }

  .about__list-item {
    font-size: 18px;
    line-height: 26px;
    padding-left: 50px;
  }

  .about__list-item::before {
    width: 35px;
    height: 35px;
  }

  .about__list-item + .about__list-item {
    margin-top: 30px;
  }

  .about__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about__btn1 {
    width: 340px;
    margin-bottom: 0;
  }

  .about__btn2 {
    width: 340px;
    padding: 21px 39px;
  }

  .portfolio {
    padding-top: 83px;
  }

  .portfolio__title {
    padding-left: 0;
    margin-bottom: 83px;
  }

  .portfolio__problem {
    margin-bottom: 45px;
  }

  .portfolio__problem-title {
    margin-bottom: 20px;
  }

  .portfolio-content {
    padding: 48px 57px;
    margin-bottom: 65px;
  }

  .portfolio-content__title {
    margin-bottom: 20px;
  }

  .portfolio-content__sub-title {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1230px;
    padding: 0 15px;
  }

  .header {
    background: #F5F5FF;
  }

  .header__body {
    padding: 50px 0 0 0;
  }

  .header__phone {
    padding: 19px 46px;
    margin-left: 80px;
  }

  .logo {
    width: 127px;
    height: 75px;
  }

  .menu__list li + li {
    margin-left: 80px;
  }

  .mob-2 {
    display: none !important;
  }

  .desc-2 {
    display: block !important;
  }

  .banner-main {
    margin-bottom: 65px;
    background: #f5f5ff;
  }

  .banner-main__content {
    padding-top: 0;
  }

  .banner-main__title {
    padding-top: 100px;
  }

  .banner-main__sub-title {
    max-width: 710px;
    margin-bottom: 24px;
  }

  .banner-main__img {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .numbers {
    margin-bottom: 160px;
  }

  .numbers__body {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
  }

  .numbers__item {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }

  .numbers__item + .numbers__item {
    margin-top: 0;
    margin-left: 80px;
  }

  .numbers__item-top {
    font-size: 45px;
    line-height: 68px;
  }

  .numbers .item-blue {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .numbers .item-green {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .numbers .item-orange {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .numbers .item-red {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .numbers__item-bottom {
    text-align: center;
    max-width: 165px;
  }

  .product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product__title {
    width: 50%;
  }

  .product__text {
    width: 45%;
    text-align: left;
    margin-bottom: 35px;
  }

  .product__card {
    padding: 43px 44px 33px 44px;
    width: 575px;
    margin-bottom: 40px;
  }

  .product__img {
    width: 247px;
    height: 115px;
    margin-bottom: 94px;
  }

  .product__card-title {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 24px;
  }

  .product__more {
    margin-top: 0;
  }

  .gallery__container {
    max-width: 1410px;
    padding: 0 10px;
    width: 100%;
  }

  .gallery__link {
    max-width: 1200px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 25px;
    margin-top: 25px;
    line-height: 38px;
    margin-bottom: 150px;
  }

  .about {
    margin-bottom: 160px;
  }

  .about__title {
    text-align: center;
  }

  .about__title::before {
    content: "";
    left: 326px;
  }

  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__blue {
    width: 50%;
  }

  .about__right {
    width: 50%;
  }

  .about__list {
    margin-bottom: 24px;
  }

  .about__list-item {
    max-width: 355px;
  }

  .about__list-item + .about__list-item {
    margin-top: 24px;
  }

  .about__btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .about__btn1 {
    width: 160px;
    font-size: 16px;
    padding: 12px 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__btn2 {
    width: 160px;
    font-size: 16px;
    padding: 15px 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio {
    padding-top: 90px;
    padding-bottom: 50px;
    margin-bottom: 160px;
  }

  .portfolio__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 140px;
  }

  .portfolio__title {
    width: 40%;
    margin-bottom: 0;
  }

  .portfolio__link {
    width: 50%;
    font-size: 25px;
    line-height: 150%;
    padding: 26px 150px;
    margin-top: 0;
  }

  .portfolio__bottom-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .portfolio__problem-text {
    max-width: 463px;
  }

  .portfolio-content {
    max-width: 660px;
  }
}

@media (any-hover: hover) {
  .menu__list-link:hover {
    color: #5370B3;
  }
}